body {
    display: flex;
    justify-content: center;
}

.historico-container {
    text-align: center;
    padding: 20px;
    max-width: 1000px; /* Define um limite de largura para o contêiner */
}

.logo {
    width: 400px;
}

h2 {
    font-size: 30px;
    color: white;
    background-color: #005caa;
    margin: 20px 0;
    margin-bottom: 40px;
}

.historico-header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-gap: 10px;
    font-weight: bold;
    color: white;
    background-color: #005caa;
    padding: 10px 0;
}

.historico-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    background-color: #F7F7F7;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
}

li:nth-child(odd) {
    background-color: #D2DBEB;
}

li span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 5px;
}