body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.historico-container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin-top: 20px;
    width: 100%;
}

.historico-logo {
    width: 400px;
}

.historico-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
    grid-gap: 10px;
    font-weight: bold;
    color: white;
    background-color: #005caa;
    padding: 10px 0;
}

.historico-header span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.historico-lista {
    padding: 0;
    margin: 0;
}

.historico-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
    background-color: #F7F7F7;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
}

.historico-item:nth-child(odd) {
    background-color: #D2DBEB;
}

.historico-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 5px;
}
