body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.movimentacao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f0ff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    margin-top: 20px;
}

.movimentacao-logo {
    width: 400px;
    margin-bottom: 20px;
}

.movimentacao-box {
    background-color: #005caa;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movimentacao-input-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

label {
    color: white;
    font-size: 0.9em;
    margin-right: 10px;
    display: block;
    font-weight: bold;
    width: 25%;
}

.movimentacao-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

.movimentacao-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.movimentacao-button {
    background-color: white;
    color: #005caa;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movimentacao-button:hover {
    background-color: #d0e9ff;
}
