:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e2f2ff;
}

h2 {
  background-color: #005caa;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 8px 8px 10px 10px;
  margin-bottom: 30px;
}